<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grocademy - Log In</title>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div class="container">
            <h1>Log In</h1>
            <form method="POST" action="/api/auth/login">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit">Sign In</button>
            </form>
            <div class="link">
            <a href="/register">Create account</a>
            </div>
        </div>
    </body>
</html>
